.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    margin: 10px;
    color: rgb(24, 61, 148);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
background-color: rgb(255, 215, 0);

}

.btn-black{
    border-radius: 8px;

background: rgb(20, 30, 54);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
padding: 10px;
}

.hero-bg{
    background-image: url(./assets/Hero-bg.png);
    margin-top: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.hero-content{
    text-align: center;
}

.card{
    display: flex;
    gap: 50px;
}

.card-header{
    text-align: center;
    margin-top: 50px;
}
.paragraph{
    margin-left: 250px;
}

.header{
    margin-top: 50px;
}

.learn-btn{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
background-color: rgb(180, 214, 243);
}

.image{
    margin-left: 250px;
}

.video{
    text-align: center;
}

.skill{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.skill-card{
    background-color: rgb(245, 223, 234);
    padding: 30px;
    border-radius: 10px;
}

.skill-card2{
    background-color: rgb(215, 209, 243);
    padding: 30px;
    border-radius: 10px;
}

.skill-card3{
    background-color: rgb(245, 213, 228);
    padding: 30px;
    border-radius: 10px;
}

.course-card{
    display: flex;
    align-items: center;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
}

.course-card img{
    height: 100px;
    margin-top: 25px;
}


.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 48px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.newsletter p{
    text-align: center;
}

.newsletter input{
    width: 300px;
    padding: 15px;
    outline: none;
    border: 1px solid #3d3c3c;
    border-radius: 6px;
}

.letterbox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.newsletter button{
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    background-color: white;
    font-weight: 600;
}

.footer{
    display: flex;
justify-content: space-between;
}